/* 全局样式表 */
html,
body,
.el-container,
#app{
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1519px;
}

/* 登录、注册、修改密码组件的外部容器样式 */
.container_box{
  width: 100%;
  background-color: #d9caac;
  height: 100%;
  min-width: 1000px;
  min-height: 650px;
  position: relative;
}
/* 登录、注册、修改密码组件的内部容器样式 */
.container {
  border-radius: 8px;   /*圆角度数*/
  background: #fff;      /*  背景色  */
  /* 居中设置 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.el-input__inner{
  border-color: #9f9f9f;
}

.el-badge__content {
  font-size: 7px;
  padding: 0 3px;
  height: 12px;
  line-height: 12px;
}

/* 修改面包屑的样式 */
.el-breadcrumb{
  margin-bottom: 15px;
  font-size: 12px;
}
/* 修改卡片视图的样式 */
.el-card {
  box-shadow: 0 1px 1px rgba(0,0,0,.15) !important;
}
/* 修改表格的样式 */
.el-table {
  margin-top: 20px;
  font-size: 12px;
}

/* 修改分页区域的样式 */
.el-pagination {
  margin-top: 15px;
}



